# Shortcuts
alias cl="clear"

# eza replaces ls
alias ls="eza"

# bat replaces cat
alias cat="bat --paging=never"
export BAT_THEME="TwoDark"

# Etc.
alias apoya="cd ~/code/github/apoya"
alias dj="python manage.py"
alias fixgestures="killall Dock"
alias killmigrations="find . -path \"*/migrations/*.py\" -not -name \"__init__.py\" -delete"
alias flushdns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
alias claude="CLAUDE_CODE_NO_FLICKER=1 claude"

# gbdev
alias dino=make
alias gbasm=rgbasm
alias gblink=rgblink
alias gbfix=rgbfix
alias bgb="wine /Applications/bgbw64/bgb64.exe"
alias gbmap="wine ~/code/gb_dev/GBMB/GBMB.EXE"
alias gbtile="wine ~/code/gb_dev/GBTD/GBTD.EXE"
alias aseprite="/Applications/Aseprite.app/Contents/MacOS/aseprite"
alias emu="java -jar $HOME/code/gb_dev/Emulicious/Emulicious.jar"
