# Shortcuts
alias cl="clear"

# eza replaces ls
alias ls="eza"

# bat replaces cat
alias cat="bat --paging=never"
export BAT_THEME="TwoDark"

# Etc.
alias dj="python manage.py"
alias killmigrations="find . -path \"*/migrations/*.py\" -not -name \"__init__.py\" -delete"
alias github="cd ~/code/github/"

# gbdev
alias bgb="wine /Applications/bgb/bgb.exe"
alias gbmap="wine ~/code/gb_dev/gbmb/GBMB.EXE"
alias gbtile="wine ~/code/gb_dev/gbtd/GBTD.EXE"
alias gb-compile="gbdk-n-compile.sh"
alias gb-link="gbdk-n-link.sh"
alias gb-build="gbdk-n-make-rom.sh"
alias dino=make
alias gbasm=rgbasm
alias gblink=rgblynk
alias gbfix=rgbfix

# Flush Directory Service cache
alias flushdns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
