# Shortcuts
alias cl="clear"

# exa replaces ls
alias ls="exa -lG --color-scale --git"

# bat replaces cat
alias cat="bat --paging=never"
export BAT_THEME="TwoDark"

# tldr replaces man
alias help='tldr'

# Etc.
alias fixgestures="killall Dock"
alias dj="python manage.py"
alias killmigrations="find . -path \"*/migrations/*.py\" -not -name \"__init__.py\" -delete"
alias github="cd ~/code/github/"

# gbdev
alias gb="cd ~/code/gb_dev/"
alias bgb="wine /Applications/bgb/bgb.exe"
alias gbmap="wine ~/code/gb_dev/gbmb/GBMB.EXE"
alias gbtile="wine ~/code/gb_dev/gbtd/GBTD.EXE"
alias gb-compile="gbdk-n-compile.sh"
alias gb-link="gbdk-n-link.sh"
alias gb-build="gbdk-n-make-rom.sh"
alias dino=make
alias gbasm=rgbasm
alias gblink=rgblynk
alias gbfix=rgbfix

# Flush Directory Service cache
alias flushdns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"

# BrainHi
alias up="docker-compose up --build --detach"
alias down="docker-compose down -v"
alias makemigrations="docker-compose run web python manage.py makemigrations"
alias migrate="docker-compose run web python manage.py migrate"
alias testea="docker-compose run -e DJANGO_CONFIGURATION=Testing web pytest --reuse-db"
alias cubreme="docker-compose run -e DJANGO_CONFIGURATION=Testing web pytest --reuse-db --cov=cosmos"
alias run="docker-compose run web python manage.py"
alias logs="docker-compose logs -f web"
alias shellme="docker-compose run web python manage.py shell_plus"
alias cosmosredis="docker-compose run redis redis-cli -h redis"
